{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
Team Rankings:
<br>
<ol>
    {% for team in teams %}
        <li>
            <b>{{ team.name }}</b> (team_id = {{team.team_id}}): 
            {{ team.games_won }} wins, {{ team.games_played }} games played
        </li>
    {% endfor %}
</ol>

<br>
<br>
<br>

Player Rankings:
<br>
<ol>
    {% for player in players %}
        <li>
            <b>{{ player.username }}</b> (team = {{ player.team.name }}):
            {{ player.games_won }} wins, {{ player.games_played }} games played
        </li>
    {% endfor %}
</ol>

{% endblock %}