{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<form name="register" action="/register" method="POST">
  <label>Name: <input type="text" name="name"></label>
  <br>
  <label>Mac: <input type="text" name="mac"></label>
  <br>
  <label>Team:
    <select name="team_name">
      {% for team in teams %}
      <option value="{{ team.name }}">{{ team.name|capitalize }}</option>
      {% endfor %}
    </select>
  </label>
  <input type="submit" name="Register">
  <div id="result"></div>
</form>
{% endblock %}
